body{
    /*Gradient pārēju ģenerātors: https://cssgradient.io/*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.wrapper{
    width: 600px;
    height: 400px;
    background-color: rgb(49, 106, 155);
    border: 2px solid rgb(106, 106, 172);
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
}
.chataZinas{
    background-color: rgb(255, 0, 191);
    height: 300px;
    margin: 5px;
    border: 1px solid rgb(204, 250, 38);
    border-radius: 5px;
    color:rgb(28, 240, 255);
    padding: 5px;
    /*parāda ritjoslu, kad čata ziņas pārsniedz bloka izmēru*/
    overflow-y: scroll;
}